<ListView *ngIf="isListVisible()" [items]="(searchType === 'recipes' ? recipes : tags) | async"
          [height]="1500">
    <ng-template let-item="item">
        <GridLayout [ngSwitch]="searchType">
            <StackLayout *ngSwitchCase="'recipes'" orientation="horizontal" height="100" (tap)="showDetails(item.id )">
                <Image [src]="item.imageUrl" height="100" width="100"></Image>
                <Label fontSize="20" textWrap="true">{{ item.name }}</Label>
            </StackLayout>

            <GridLayout columns="9*, *" rows="auto" *ngSwitchCase="'tags'" (tap)="addTag(item)">
                <Label col="0" row="0" fontSize="20" textWrap="true">{{ item }}</Label>
                <Image col="1" row="0" src="~/assets/images/add.png"
                       [backgroundColor]="getColor('searchSuggestions')"></Image>
            </GridLayout>
        </GridLayout>
    </ng-template>
</ListView>