<ng-container *ngIf="(recipe$ | async) as recipe else loading">
    <ScrollView>
        <StackLayout>
            <mm-content col="1" [contentVisible]="false" [mainTitle]="recipe.name" (tap)="imageMaximized = !imageMaximized"></mm-content>
            <Image [class]="imageMaximized ? 'maximized' : 'minimized'" [src]="recipe.imageUrl"></Image>
            <mm-content *ngIf="recipe.description" title="Description">
                <Label fontSize="20" textWrap="true">{{ recipe.description }}</Label>
            </mm-content>
            <mm-content title="Ingredients">
                <mm-ingredient-list [servings]="recipe.servings"
                                    [ingredients]="recipe.ingredients"></mm-ingredient-list>
            </mm-content>
            <mm-content [contentInline]="true" title="Servings:">
                <GridLayout columns="*, *">
                    <mm-amount-picker col="1" [(amount)]="recipe.servings"></mm-amount-picker>
                </GridLayout>
            </mm-content>
            <mm-content title="Nutrition" [contentVisible]="false"
                        *ngIf="Object.keys(recipe.nutritionInformation).length > 0">
                <mm-nutrition [servings]="recipe.servings" [nutrition]="recipe.nutritionInformation"></mm-nutrition>
            </mm-content>
            <mm-content title="Preparation">
                <mm-preparation-instructions [instructions]="recipe.instructions"></mm-preparation-instructions>
            </mm-content>

        </StackLayout>
    </ScrollView>
</ng-container>
<ng-template #loading>
    <GridLayout>
        <ActivityIndicator busy="true"></ActivityIndicator>
    </GridLayout>
</ng-template>
