<ng-container *ngIf="(recipe$ | async) as recipe else loading">
    <StackLayout>
        <mm-recipe-details-header [imageUrl]="recipe.imageUrl" [recipeName]="recipe.name"></mm-recipe-details-header>
        <ScrollView>
            <StackLayout>
                <Label fontSize="35" textWrap="true" fontWeight="bold">{{ recipe.name }}</Label>
                <Label *ngIf="recipe.description" fontSize="20" textWrap="true">{{ recipe.description }}</Label>
                <mm-ingredient-list [ingredients]="recipe.ingredients"></mm-ingredient-list>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</ng-container>
<ng-template #loading>
    <GridLayout>
        <ActivityIndicator busy="true"></ActivityIndicator>
    </GridLayout>
</ng-template>
