<GridLayout class="main-layout" columns="*, *">
    <Label col="0" fontSize="30">Servings:</Label>
    <GridLayout class="picker" col="2" columns="*, 2*, *" [backgroundColor]="getColor('searchBar')">
        <Image col="0" src="~/assets/images/remove.png" (tap)="servingsAmount = servings - 1"></Image>
        <Label col="1" fontSize="20" textAlignment="center" [backgroundColor]="getColor('searchSuggestions')">{{servings}}</Label>
        <Image col="2" src="~/assets/images/add.png" (tap)="servingsAmount = servings + 1"></Image>
    </GridLayout>
</GridLayout>

