<GridLayout [class]="searchActive ? 'activeSearch' : 'inactiveSearch'" columns="*, 7*, *, *" rows="60"
            [backgroundColor]="getSearchBarColor('searchBar')">
    <Image *ngIf="isOnHomePage" col="0" src="~/assets/images/settings.png"></Image>
    <Image *ngIf="!isOnHomePage" col="0" src="~/assets/images/back.png" (tap)="navigationService.goToHomePage()"></Image>
    <TextField *ngIf="searchActive" col="1" id="activeSearchField" #searchField returnKeyType="search"
               [text]="searchFieldValue" (textChange)="searchFieldValue=$event.value"
               (returnPress)="submitSearch($event)"></TextField>

    <Label *ngIf="!searchActive" id="inactiveSearchField" col="1"
           (tap)="goToSearchPage()">{{isOnHomePage ? 'Search for recipes' : searchFieldValue}}</Label>
    <Image col="2" *ngIf="searchActive" src="~/assets/images/filter.png" (tap)="showAmountPicker()"></Image>
    <Image col="3" src="~/assets/images/shuffle.png" (tap)="goToRandomRecipe()"></Image>
</GridLayout>
